gitignore
# General
.DS_Store
*.pem
*.key
*.log
.env
.env.*
!/.env.example

# Node.js / npm / yarn
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.eslintcache

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/app/build/
android/app/src/main/jniLibs/
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
*.iml
*.metadata
*.idea/
